.svg--ic_airplane-dims {
	width: 100px;
	height: 94px;
}

.svg--ic_bag-dims {
	width: 86px;
	height: 84px;
}

.svg--ic_calendar-dims {
	width: 90px;
	height: 90px;
}

.svg--ic_camera-dims {
	width: 100px;
	height: 80px;
}

.svg--ic_close_cross-dims {
	width: 357px;
	height: 357px;
}

.svg--ic_cog-dims {
	width: 84px;
	height: 84px;
}

.svg--ic_comment-dims {
	width: 80px;
	height: 70px;
}

.svg--ic_contact_us-dims {
	width: 373.57px;
	height: 244.6px;
}

.svg--ic_facebook-dims {
	width: 96px;
	height: 96px;
}

.svg--ic_google+-dims {
	width: 96px;
	height: 96px;
}

.svg--ic_music-dims {
	width: 70px;
	height: 90px;
}

.svg--ic_palette-dims {
	width: 98px;
	height: 76px;
}

.svg--ic_pinterest-dims {
	width: 96px;
	height: 96px;
}

.svg--ic_plus-dims {
	width: 58px;
	height: 58px;
}

.svg--ic_right-thin-dims {
	width: 98px;
	height: 50px;
}

.svg--ic_search-dims {
	width: 79px;
	height: 79px;
}

.svg--ic_suitcase-dims {
	width: 100px;
	height: 90px;
}

.svg--ic_twitter-dims {
	width: 96px;
	height: 96px;
}

.svg--ic_user-dims {
	width: 94px;
	height: 90px;
}

.svg--ic_video-dims {
	width: 98px;
	height: 70px;
}

