// Metrics
$svg-icon-size:22px;
$nav-block-width:70px;
$nav-block-height:68px;
$logo-font-size:19px;

// Navbar icon colors
$palette-navbar-color:#14b9d6;
$music-navbar-color:#e76049;
$camera-navbar-color:#2eb398;
$video-navbar-color:#90899c;
$business-navbar-color:#5692b1;
$plane-navbar-color:#f9b704;
$plus-navbar-color:#e76049;
$fashion-navbar-color:#dd1787;
$contact-us-color:green;